body {
    display: flex;
    flex: auto;
    flex-direction: column;
    max-width: 100%;
    margin: 0px;

}

.container1 {
    display: flex;
    flex: auto;
    flex-direction: column;
    background-image: url(../landing-page/img/deadpool-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 645px;
}

.image1 {
    height: auto;
    width: 120px;
    margin: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 12px;
    gap: 15px;
}

a {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.link1 {
    color: aqua;
}

.link2 {
    color: darkolivegreen;
}

.link3 {
    color: darkslateblue;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin: 100px;
}

.child1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: beige;
}

.h1 {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: beige underline;
    margin: 0px;
    width: 560px;
}

.h-text {
    text-align: end;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 550px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image2 {
    height: 250px;
    width: auto;
    margin: 5px;
    border-radius: 100px;
}

.button1 {
    background-color: rgb(255, 105, 180);
    border-radius: 60px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: beige;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1300ms infinite;
}


@keyframes glowing {
    0% {
        background-color: rgb(255, 105, 180);
        box-shadow: 0 0 5px rgb(255, 105, 180);
    }
    50% {
        background-color: rgb(250, 208, 229);
        box-shadow: 0 0 20px rgb(250, 208, 229);
    }
    100% {
        background-color: rgb(255, 105, 180);
        box-shadow: 0 0 5px rgb(255, 105, 180);
    }
}

.body {
    background-image: url(../landing-page/img/deadpool-bear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.container2 {
    display: flex;
    flex: auto;
    flex-direction: column;
    width: -webkit-fill-available;
    gap: 10px;
}

.box2 {
    display: inline-block;
    margin: auto;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
    font-size: 50px;
    text-align: center;
    text-decoration: underline aqua;
    height: 50px;

}

.child2 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20px;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    width: 300px;
}

.image3 {
    width: inherit;
    height: auto;
    border-radius: 40px;
}

figcaption {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aqua;
}

.container3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    height: 350px;
}

blockquote {
    font-size: 60px;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 800px;
}

.container4 {
    display: flex;
    justify-content: flex-end;
    padding: 2em;
}

.box3 {
    background-image: url(../landing-page/img/i-wanna-be-you.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 800px;
    height: 450px;
}

.child3 {
    display: flex;
    justify-content: center;
    margin: 18px;
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    color: yellow;
    margin: 12px;
}

.button2 {
    background-color: rgb(255, 255, 0);
    border-radius: 60px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    color: black;
    padding: 8px;
    margin-left: 20px;
    text-align: center;
    animation: signal 1300ms infinite;
}

@keyframes  signal {
    0% {
        background-color: rgb(255, 255, 0);
        box-shadow: 0 0 5px rgb(255, 255, 0);
    }
    50% {
        background-color: rgb(255, 255, 163);
        box-shadow: 0 0 20px rgb(255, 255, 163);
    }
    100% {
        background-color: rgb(255, 255, 0);
        box-shadow: 0 0 5px rgb(255, 255, 0);
    }
}

.container5 {
    display: flex;
    justify-content: center;
    padding: 22px;
    background-color: darkred;
    color: beige;
}

.footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}