body {
    display: block;
    margin: 0px;
}

.container1 {
    display: flex;
    flex: auto;
    flex-direction: column;
    background-image: url(../landing-page/img/deadpool-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 645px;
}

.image1 {
    height: auto;
    width: 120px;
    margin: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 12px;
    gap: 15px;
}

a {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.link1 {
    color: aqua;
}

.link2 {
    color: darkolivegreen;
}

.link3 {
    color: darkslateblue;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin: 100px;
}

.child1 {
    display: flex;
    flex-direction: column;
    color: beige;
}

.h1 {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: beige underline;
    margin: 0px;
    width: 560px;
}

.h-text {
    text-align: end;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 550px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image2 {
    height: 250px;
    width: auto;
    margin: 5px;
    border-radius: 100px;
}

.button1 {
    background-color: rgb(255, 105, 180);
    border-radius: 60px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: beige;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1300ms infinite;
}

@keyframes glowing {
    0% {
        background-color: rgb(255, 105, 180);
        box-shadow: 0 0 5px rgb(255, 105, 180);
    }
    50% {
        background-color: rgb(250, 208, 229);
        box-shadow: 0 0 20px rgb(250, 208, 229);
    }
    100% {
        background-color: rgb(255, 105, 180);
        box-shadow: 0 0 5px rgb(255, 105, 180);
    }
}

.body {
    background-image: url(../landing-page/img/deadpool-bear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container2 {
    display: inline-flex;
    flex: auto;
    flex-direction: column;
    width: -webkit-fill-available;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: beige;
    font-size: 30px;
    text-decoration: underline beige;
    height: 50px;

}

.child2 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20px;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    position: inherit;
    width: 300px;
}

.image3 {
    width: 300px;
    height: auto;
    border-radius: 40px;
}

